body {
    flex-shrink: 0;
    background-color: #F8EFEB;
}


.section {
    position: relative;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: stretch;
}

.section .third {
    width: 33%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section .third .inner {
    width: 100%;
}

.section .two-third {
    width: 66%;
    float: right;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
}