:root {
  --color-primary: #1C3150; /* brand color */
  --grid-maxWidth: 100rem; /* max container width 1080px */
  --font-family-sans: 'Kumbh Sans', sans-serif;
  --font-size: 1.6rem;
  --font-color: #1C3150;
}

body {
    font-family: var(--font-family-sans);
    font-size: var(--font-size);
    background-color: #F8EFEB;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: 800;
}

.container {
    padding: 4rem 0;
}

.row {
    margin: 2em 0;
}

.nav-button {
    margin: 3rem 0;
    max-width: 30px;
    cursor: pointer;
}

.center-text {
    text-align: center;
}

svg {
    width: 100%;
    height: auto;
}

#map-holder {
    position: relative;
}

.map-overlay {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 500ms ease-in;
    opacity: 0;
}

.visible {
    opacity: 1;
}

article {
    position: relative;
    padding: 0;
    max-width: 50rem;
    margin: 0 auto;
}

figure {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0;
}

figure p {
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 8rem;
    font-weight: 900;
    color: red;
}

.step {
    margin: 0 auto 60vh auto;
}

.step .inner {
    background-color: #fff;
    padding: 2rem;
}